@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body{
    margin:0px;
    padding:0px;
}

/*--------------------Navbar--------------------*/
.navbar{
    width:100%;
    height:60px;
    color:black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.left{
    width:60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#asanalogo{
    height:35px;
    width:35px;
}
.logo{
    height:80%;
    width:25%;
    font-size: 30px;
    color:#690031;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.links{
    width:75%;
    color:#707070;
}
.links li{
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links a{
    transition: 0.25s ease-in-out;
}
.links a:hover{
    cursor:pointer;
    color:black;
}
.right{
    width:550px;
    height:80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:10px;
}
.start{
    width:300px;
    color:#707070;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.start a{
    transition: 0.25s ease-in-out;
}
.start a:hover{
    color:black;
}
#globe{
    font-size: 30px;
    transition: 0.25s ease-in-out;
}
#globe:hover{
    color:black;
}
#startbtn{
    width:120px;
    height:35px;
    font-weight: 600;
    letter-spacing: .5px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    color:white;
    border-style: none;
    border-radius: 3px;
    font-size: 13px;
    transition: 0.25s;
    background-color: black;
}
#startbtn:hover{
    cursor:pointer;
    color:black;
    background-color:#f06a6a;
}
#menuicon{
    font-size: 30px;
    cursor: pointer;
    z-index:-1;
}
@media screen and (max-width:1100px){
    #menuicon{
        z-index:1;
    }
    .links{
        display: none;
    }
}
@media screen and (max-width:600px){
    .start{
        display: none;
    }
}
/*-----------------------Home---------------------------*/
.home{
    width:100%;
    height:auto;
    background-color: #ffeaec;
    border:1px solid white;
}
.home h1{
    font-size: 4rem;
    letter-spacing: -0.5px;
    color:#690031;
    font-family: "Ghost","Helvetica Neue","Helvetica",sans-serif;
}
.home p{
    font-size: 20px;
    color:#690031;
    font-family:"TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
}
.btns{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}
#b1{
    border-style: none;
    width:150px;
    height:50px;
    border-radius: 25px;
    color:white;
    cursor: pointer;
    background-color: #690031;
    font-size: 16px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    transition:0.25s ease-in-out;
}
#b1:hover{
     background-color: rgb(146, 67, 95);
}
#b2{
    border-style: none;
    width:150px;
    height:50px;
    border:1px solid #690031;
    border-radius: 25px;
    color:#690031;
    cursor: pointer;
    background-color: #ffeaec;
    font-size: 16px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    transition: 0.25s ease-in-out;
}
#b2:hover{
    background-color: rgb(247, 206, 209);
}
@media screen and (max-width:750px){
    #b1,#b2{
        width:90%;
    }
}
.video{
    width:90%;
    height:30em;
    margin-top:30px;
    margin-bottom:50px;
    border-radius:20px;
    padding:20px;
    background-color: #690031;

}
#video{
    width:100%;
    height:100%;
    border-radius: 20px;
    border-style: none;
}
/*----------------------About--------------------------*/
.about{
    width:100%;
    height:auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.comp{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.disc{
    width:25%;
    height:auto;
}
.disc h2{
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
}
.companies{
    width:70%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.companies img{
    width:20%;
    height:80px;
}

@media screen and (max-width:1000px){
    .companies{
        width:100%;
    }
    .disc{
        width:100%;
    }
    .companies{
        width:100%;
    }
}
.card{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
}
.c{
    width:300px;
    height:300px;
    padding:20px;
    margin-top:50px;
    border:1px solid #e0dfdf;
    border-radius: 10px;
    cursor:pointer;
    transition: 0.25s ease-in-out;
}
.c:hover{
    background-color: #f9f5f5;
}
.click{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    transition: 0.25s ease-in-out;
}
.icon{
    font-size: 25px;
}
.click:hover{
    color:#707070;
}

#head{
    font-size: 40px;
    font-family:"TWK Lausanne","Helvetica Neue","Helvetica",sans-serif ;
}
.department{
    width:90%;
    height:600px;
    border:1px solid #909090;
    border-radius: 15px;
    padding:20px;
}
.buttons{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:10px;
    flex-wrap: wrap;
}
.depbtn{
    width:auto;
    height:60px;
    padding:16px 32px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    font-size: 20px;
    font-weight: 400;
    border-style: none;
    cursor:pointer;
    border-radius: 146px;
}
/*----------------------------------------*/
.getstartsection{
    width:95%;
    height:auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:20px;
    margin-top:20px;
    margin-bottom: 20px;
    color:#0d0d0d;
    border-radius: 20px;
    background-color: #fafafa;
}
.leftpart{
    width:40%;
    font-family: "TWK Lausanne", "Helvetica Neue", "Helvetica", sans-serif;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.leftpart h1{
    font-size: 60px;
    font-family: "Ghost", "Helvetica Neue", "Helvetica", sans-seri;
    margin-bottom: 24px;
}
.leftpart p{
     font-size: 20px;
}

.rightpart{
    width:600px;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
.go{
    width:100%;
    height:150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    cursor:pointer;
    background-color: white;
}
.go:hover{
    background-color: #f3f3f3;
}
.heading{
    height:70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.heading h4{
    margin:0;
    font-size: 30px;
}
.heading p{
    margin:10px 0 0;
    font-size: 20px;
    color:#6e6e6e;
}
#go{
    font-size: 50px;
}
@media screen and (max-width:950px){
    .getstartsection{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .leftpart{
         width:100%;
    }
    .rightpart{
        width:90%;
    }
}
/*----------------------------------------*/
.recognization{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   margin:20px;
}
.recognization h1{
    width:100%;
    font-size: 40px;
    line-height: 150%;
    font-family: "Ghost","Helvetica Neue","Helvetica",sans-serif;
    grid-row: 2;
    text-align: left;
}
.analysts{
    width:100%;
    display: flex;
    color:rgb(13,13,13);
    row-gap: 64px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "TWK Lausanne", "Helvetica Neue", "Helvetica", sans-serif;
    column-gap: 20px;
}
.a{
    width:30%;
    height:auto;
    font-size: 1rem;
    border-radius:10px;
}
.a img{
    width:100%;
    border-radius: 10px;
}
.learnmore{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    cursor:pointer;
    transition:0.3s ease-in-out ;
}
.learnmore:hover{
    color:rgb(110, 110, 110)
}
@media screen and (max-width:970px){
    .analysts{
        width:100%;
        height:auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .a{
        width:40%;
    }
}
@media screen and (max-width:766px){
    .analysts{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .a{
        width:100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column-reverse;
        border-radius: 20px;
    }
    .a img{
        border-radius: 20px;
    }
}
/*-------------------------Footer----------------------------*/
.footer{
    width:100%;
    height:auto;
    background-color: #690031;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.title{
    width:100%;
    height:auto;
    color:white;
    font-size: 60px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ttl{
    width:50%;
    text-align: left;
    padding:25px;
    letter-spacing: 0;
    font-family: "Ghost","Helvetica Neue","Helvetica",sans-serif;
}
.footerbtn{
    margin:30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footerbtn button{
    color:#690031;
    font-weight: 500;
    border-style: none;
    background-color: rgb(247, 206, 209);
    padding:16px 32px;
    border-radius: 100px;
    transition: 0.25s ease-in-out;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
}
.footerbtn button:hover{
    background-color: rgb(203, 149, 168);
    cursor: pointer;
}
@media screen and (max-width:1400px){
    .title{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
}
/*------------------------*/
.info{
    width:90%;
    height:auto;
    font-size: 13px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    color:white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding:32px 0px;
    border-top:1.5px solid rgb(130, 50, 78);
    border-bottom:1.5px solid  rgb(130, 50, 78);
}
.info a{
    cursor:pointer;
}
/*--------------------------------*/
.relatedlinks{
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top:30px;
}
.logo{
    width:10%;
    cursor:pointer;
}
.logo img{
    width:30px;
    height:30px;
    border-radius: 50px;
}
.lks{
    width:90%;
    height:auto;
    color:white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.name{
    margin-bottom: 30px;
}
#asana,#aboutus,#learn,#workflow,#resources{
    width:250px;
}
#asana li{
    font-size: 14px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    list-style:none;
    text-align: left;
}
#asana li a{
    font-size: 16px;
    line-height: 200%;
    cursor: pointer;
    color:#cdc9c9;
    transition:0.5s ease-in-out;
}
#asana li a:hover{
    color:white;
    border-bottom: 1px solid white;
}
#aboutus li{
    font-size: 14px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    list-style:none;
    text-align: left;
}
#aboutus li a{
    font-size: 16px;
    line-height: 200%;
    cursor: pointer;
    color:#cdc9c9;;
    transition:0.4s ease-in-out;
}
#aboutus li a:hover{
    color:white;
    border-bottom: 1px solid white;
}
#workflow li{
    font-size: 14px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    list-style:none;
    text-align: left;
}
#workflow li a{
    font-size: 16px;
    line-height: 200%;
    cursor: pointer;
    color:#cdc9c9;;
    transition:0.4s ease-in-out;
}
#workflow li a:hover{
    color:white;
    border-bottom: 1px solid white;
}
#resources li{
    font-size: 14px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    list-style:none;
    text-align: left;
}
#resources li a{
    font-size: 16px;
    line-height: 200%;
    cursor: pointer;
    color:#cdc9c9;;
    transition:0.4s ease-in-out;
}
#resources li a:hover{
    color:white;
    border-bottom: 1px solid white;
}
#learn li{
    font-size: 14px;
    font-family: "TWK Lausanne","Helvetica Neue","Helvetica",sans-serif;
    list-style:none;
    text-align: left;
}
#learn li a{
    font-size: 16px;
    line-height: 200%;
    cursor: pointer;
    color:#cdc9c9;;
    transition:0.4s ease-in-out;
}
#learn li a:hover{
    color:white;
    border-bottom: 1px solid white;
}
@media screen and (max-width:1000px){
    .relatedlinks{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
}

/*-----------------------------*/
.media{
    width:100%;
    height:auto;
    display: flex;
    color:white;
    font-size: 16px;
    font-family:"TWK Lausanne","Helvetica Neue","Helvetica",sans-serif ;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    padding-top:32px;
    padding-bottom:32px;
    flex-wrap: wrap;
    background-color: #710c3a;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
}
#lang{
    font-size: 25px;
}
.open{
    color:#c6c4c4;
    cursor:pointer;
    transition: 0.5s ease-in-out;
}
.open:hover{
    color:white;
    border-bottom: 1px solid white;
}
#mediaicons{
    color:black;
    font-size: 30px;
    cursor: pointer;
}
#i1{
    width:120px;
    border-radius: 5px;
    cursor:pointer;
    border:1px solid white;
}
#i2{
    cursor: pointer;
    border-radius: 5px;
    height:40px;
}
@media screen and (max-width:1000px){
    .media{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}